@import url('https://fonts.googleapis.com/css?family=Audiowide');
header {
  opacity: 0.7;
  position: fixed;
  top: 0;
  display: flex;
  background: black;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: white;
  right: 2%;
  left: 2%;
  text-align: center;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
li {
  list-style: none;
  font-family: 'Audiowide', cursive;
  margin: 0% 5%;
  
}
li :hover {
  color: red;
}
ul {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#name {
  font-family: 'Audiowide', cursive;
}
#welcome-section {
  background: url("https://img2.goodfon.ru/original/1920x1080/1/55/robot-belyy-shlem-belyy-fon.jpg");
  background-size: cover;
  height: 1200px;
  margin: -1.5%;
}
#page-one-wrap {
  padding-top: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name{
  text-align: center;
  margin-left: 20%;
}
#proj-button {
  margin-left: 15%;
}
#proj-button a {
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 5px;
  padding: 10px;
}
#proj-button :hover {
  background-color: red;
}
#projects {
  background: url("https://img1.goodfon.ru/original/1920x1080/6/ea/cables-colors-plastic-1089.jpg");
  background-size: cover;
  height: 1200px;
  margin: -1.5%;
}
